<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheet/main.css" />
  </head>
  <body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">YelpCamp</a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav navbar-toggler-right">
          <%if (!currentUser){%>
            <li>
              <a class="nav-item nav-link" href="/login">Login</a>
            </li>
            <li>
              <a class="nav-item nav-link" href="/register">Sign up</a>
            </li>
          <% } else{ %>
            <li>
              <%= currentUser.username %>
            </li>
            <li>
              <a class="nav-item nav-link" href="logout">logout</a>
            </li>
          <% } %>
        </ul>
      </div>
    </nav>
    <h1><%= message %> </h1>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
