<% include ../partials/header %>
<div class="container">
  <header class="jumbotron" style="margin-left:30px;margin-right:30px;">
    <div class="container" style="margin-left:50px;">
      <h1>YelpCamp</h1>
      <p>
        begining the node
      </p>
      <p>
        <a class="btn btn-primary btn-large "href="/campgrounds/new">Add campgrounds</a>
      </p>
    </div>
  </header>
  <div class="row text-center" style="display:flex; flex-wrap:wrap;">
    <% allCampgrounds.forEach(function(campground){ %>
      <div class = "col-sm-6 col-md-3">
        <div class="img-thumbnail">
          <img src="<%= campground.image %>" class="img-thumbnail">
          <div class="caption">
            <h1><%= campground.name %></h1>
          </div>
          <p>
            <a href="/campgrounds/<%=campground._id %>" class="btn btn-primary btn-xs">more info</a>
          </p>
        </div>
      </div>
    <% }); %>
  </div>
</div>



<% include ../partials/footer %>
